<!-- title -->
<!-- <h4>Foods</h4> -->
<form>
  <div class="input-group" style="width: 50%;">
    <div class="input-group-prepend">
      <span class="input-group-text">Search</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Food"
      (input)="onSearch($event)"
    />
  </div>
</form>
<div class="container-fluid">
  <div class="row">
    <div
      *ngFor="let food of foods; let idx = index"
      [attr.data-index]="idx"
      class="col-sm-3"
    >
      <app-food [food]="food" [colapseId]="idx"></app-food>
    </div>
  </div>
</div>
