<!-- title -->
<!-- <h4>Ingredients</h4> -->
<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Search</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Ingredient"
      name="currentSearch"
      (input)="onSearch($event)"
    />
  </div>
</form>

<div>
  <div *ngFor="let ingredient of searchResult">
    <div class="hv" (click)="addToSelectedIngredients(ingredient)">
      <app-ingredient [ingredient]="ingredient"></app-ingredient>
      <hr />
    </div>
  </div>
</div>
