<div class="card" style="width: 100%; margin-top: 10px;">
  <img
    class="card-img-top"
    src="{{ food.imgPath }}"
    alt="Card image"
    style="width: 100%;"
  />
  <div class="card-body" style="height: 200px;">
    <h6 class="card-title">{{ upperCase(food.name) }}</h6>
    <hr />
    <p>Type: {{ food.foodType.name }} Cal: {{ food.calories }}</p>
    <button
      class="btn btn-sm btn-success"
      data-toggle="modal"
      [attr.data-target]="'#' + 'id' + colapseId"
    >
      See More...
    </button>
  </div>
</div>

<!-- The Modal -->
<div class="modal" [id]="'id' + colapseId">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ food.name }}</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>Ingredients:</div>
        <div *ngFor="let i of food.ingredients">
          <div class="row" style="padding-left: 20px;">
            <div class="col-xs-1">
              <img
                src="{{ i.imgPath }}"
                alt="{{ i.name }}"
                class="img-responsive rounded-circle"
                style="height: 25px; width: 25px; margin-right: 25px;"
              />
            </div>
            <div class="col-xs-1 text-dark">
              <div>{{ i.name }}</div>
            </div>
          </div>
        </div>
        <br />
        <div>Procedure: {{ food.procedure }}</div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
