<div class="modal-dialog">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h4 class="modal-title">{{ fTitle }}</h4>
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>
    </div>

    <!-- body -->
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-group"
          [(ngModel)]="name"
          placeholder="Enter Name..."
          name="name"
        />
        <p>Image file:</p>
        <input
          type="file"
          class="form-group"
          (change)="addSelectedFile($event)"
          name="file"
        />
        <div class="mt-3">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="submit()"
            data-dismiss="modal"
          >
            Submit
          </button>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
